extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div      
      h1 404 Error!      
      p.lead.text-light
        | This page doesn't exist (yet...)
      a(href='/') 
        h6 Click here to go home!
      
