/*Add a small transform when hovering over image thumbnails*/
.thumbnail:hover {
    transform: scale(1.1); 
}

/*Change color of side and nav bar*/
#my-info, .title-bar {
    background-color: rgb(0, 89, 179, 0.9);
}

/*Change color of buttons and round off corners*/
a.button.expanded {
    background-color: rgb(0, 89, 179, 0.9);
    border-radius: 5px;
}

